

.board-container{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-grid-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 40vh;
	flex-wrap: wrap;
	margin: 1em;
}

.grip-container{
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1;
}



.grip{
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.grip-color-0{
	width: 5px;
	height: 5px;
	background: hsl(0, 0%, 0%);
}

.grip-selector{
	position: relative;
	
}
.grip-selector::after{
	box-sizing: content-box;
	content: "";
	position: absolute;
	width: 60%;
	height: 60%;
	border-radius: 50%;
	border: 2px solid rgb(0, 255, 0);
	opacity: 0;
	transition: opacity .4s;
	transition-timing-function: cubic-bezier(.88,.72,0,.66);
}

.grip-active::after{
	opacity: 1;
}